body{
  background-color: black;
}

.container{
  display: grid;
  height: auto;
  margin: 2rem;
  grid-gap: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid template-rows: 1fr 1fr 1fr;
}

.header{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  color: orange;
  padding-top: 0;
}

.logo {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.content-wrapper {
  grid-column: 2;
  grid-row: 3;
  height: auto;
  width: auto;
  border: ridge orange 15px;
  background-color: grey;
  text-align: left;
  padding: 10px;
}

#description {
  color: white;
}

label, input{
  display: block;
}

.radio-group input,
.radio-group label{
  display: inline-block;
}

.check-group input,
.check-group label{
  display: inline-block;
}

