* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

@media (max-width: 600px) {
  .wrapper ul{
    flex-wrap: wrap;
  }
}

body{
  background: black;
}

.wrapper{
  position: fixed;
  width: 100%;
  height: 100px;
  background: black;
}

.wrapper ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.wrapper li{
  list-style-type: none;
}

.wrapper a{
  color: lightgreen;
  padding-right: 20px;
  text-decoration: none;
  font-size: larger;
}

.wrapper img {
height: 100px;
}

.content{
  display: flex;
  padding-top: 100px;
  justify-content: center;
  flex-direction: column;
}

h2{
  color: lightgreen;
  border: solid lightgreen;
  padding: 20px;
  background-color: teal;
  text-align: center;
}

.videos{
  display: flex;
  justify-content: center;
}

.features{
  padding-top: 50px;
}

.features ul{
  
}

p{
  color: white;
}

.contact-form{
  padding-top: 50px;
}
